aiofiles
aiohappyeyeballs
aiohttp
aiolimiter
aiosignal
aiosqlite
alembic
alphashape
amqp
annotated-doc
annotated-types
anyio
asgiref
asyncpg
attrs
beautifulsoup4
billiard
bleach
brotli
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-log
click-plugins
click-repl
coloredlogs
Crawl4AI
cryptography
cssselect
defusedxml
distro
Django
django-cors-headers
django-environ
django-extensions
django-filter
djangorestframework
djangorestframework_simplejwt
drf-spectacular
et_xmlfile
exceptiongroup
fake-http-header
fake-useragent
fastapi
fastuuid
filelock
flatbuffers
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hf-xet
hpack
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
humanize
hyperframe
idna
importlib_metadata
inflection
Jinja2
jiter
joblib
JSON-log-formatter
jsonschema
jsonschema-specifications
kombu
lark
litellm
lxml
magika
Mako
markdown-it-py
markdownify
markitdown
MarkupSafe
mdurl
mmh3
mpmath
multidict
networkx
nltk
numpy
onnxruntime
openai
openpyxl
orjson
packaging
pandas
patchright
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
pinecone-text
playwright
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyee
Pygments
PyJWT
PyMuPDF
pyOpenSSL
pyparsing
python-dateutil
python-docx
python-dotenv
python-magic
pytz
PyYAML
rank-bm25
redis
referencing
regex
requests
rich
robotexclusionrulesparser
rpds-py
rsa
rtree
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shapely
six
sniffio
snowballstemmer
soupsieve
SQLAlchemy
sqlparse
starlette
sympy
tenacity
tf-playwright-stealth
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
trimesh
types-requests
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn
uvloop
vine
watchfiles
wcwidth
webencodings
websockets
Werkzeug
xxhash
yarl
zipp
